// @use '@angular/material' as mat;

// @include mat.core();

// $primary: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $warn: mat.define-palette(mat.$red-palette);

// $theme: mat.define-dark-theme((
//   color: (
//     primary: $primary,
//     accent: $accent,
//     warn: $warn,
//   ),
//   typography: mat.define-typography-config(),
// ));

// @include mat.all-component-themes($theme);
// body {
//   background-color: mat.get-color-from-palette($primary, 900);
//   color: #fff;
// }

// .mat-row:hover { background-color: #2a2a2a; cursor: pointer; }
// button:hover { opacity: 0.85; }

